:root {
  --darker-pink: #f0a8bb;
  --lighter-pink: #f9dde0;
  --blue: #92b2ba;
}

#root {
  background-color: whitesmoke;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  
}
.header{
  display: flex;
  flex-flow: column wrap;
  margin: 10px 30px;
}

.headerBar {
  background-color: var(--blue);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  color: white;
  padding: 15px;
}

.headerImage {
  width: 100%;
  margin: 10px auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.flowerTiles {
  display: flex;
  flex-flow: row wrap;
}

.flower {
  border: 1px solid black;
}